/* General */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --purple-light-1: #fbfafb;
  --purple-light-2: #eeeaf2;
  --purple-medium-1: #aa83c8;
  --purple-medium-2: #8b48bf;
  --purple-medium-3: #5c218a;
  --purple-dark-1: #3e0f64;
  --purple-dark-2: #2a0646;
  --brown: #8e562e;
  --dark: #0e1418;
  --primary: #222d33;
  --claro: #ecebed;
  --secondary: #555555;
  --terciary: #777777;
  --yellow: #eecc75;
  --green: #cad297;
  --aqua: #b7eac5;
  --lightBlue: #a2eee5;
  --darkBlue: #8ea2ea;
  --red: #f09d9d;

  --font-family-titles: "Yanone Kaffeesatz", sans-serif;
  --font-family-text: "Poppins", sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;

  --shadow-out: 0 0 2vw 0.5vw rgba(0, 0, 0, 0.5);
  --shadow-in: inset 0 0 2vw 0.5vw rgba(0, 0, 0, 0.5);
}

html {
  background-color: var(--primary);
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-bottom: 120px;
  background-color: var(--dark);
  min-height: 100vh;
  color: var(--claro);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  position: relative;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--dark);
}

body::-webkit-scrollbar-thumb {
  transition: 0.3s;
  background-color: var(--secondary);
  border-radius: 50px;
  will-change: background-color;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 32px;
  color: var(--purple-dark-2);
  color: var(--claro);
  text-transform: uppercase;
  font-family: var(--font-family-titles);
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 30px;
  color: var(--purple-dark-1);
  font-weight: 400;
  color: var(--claro);
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  color: var(--purple-dark-2);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  color: var(--claro);
  text-transform: uppercase;
  letter-spacing: 2px;
}

input {
  background-color: var(--dark);

  color: var(--purple-medium-2);
  color: var(--claro);

  font-weight: 400;
  border: none;
  font-size: 16px;
  padding-left: 16px;
}

input::placeholder {
  color: var(--purple-medium-1);
  color: var(--claro);

  font-family: var(--font-family-text);
}

button {
  border: none;
  color: var(--claro);
  font-weight: var(--font-weight-text2);
  font-family: var(--font-family-titles);
  border: 2px solid var(--dark);

  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 300;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Shared */
.header-container,
.trendingPreview-header,
.categoriesPreview-container,
.liked-header {
  padding: 0 24px;
}

.trendingPreview-container,
.categoriesPreview-container,
.liked-container {
  margin-top: 48px;
}

.trendingPreview-header,
.liked-header,
.categoriesPreview-title {
  margin-bottom: 24px;
}

.movie-container {
  cursor: pointer;
  position: relative;
  box-shadow: var(--shadow-out);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-container--loading {
  background: #333333;
  border-radius: 2px;
  box-shadow: none;
  animation: loading-skeleton infinite 1.5s;
  will-change: opacity;
}

.movie-container--loading:nth-child(2) {
  animation-delay: 0.2s;
}

.movie-container--loading:nth-child(3) {
  animation-delay: 0.4s;
}

.movie-container--loading:nth-child(4) {
  animation-delay: 0.5s;
}

.movie-container--loading:nth-child(5) {
  animation-delay: 0.6s;
}
.movie-container--loading:nth-child(6) {
  animation-delay: 0.7s;
}

.movie-container--loading:nth-child(7) {
  animation-delay: 0.8s;
}

.movie-container--loading:nth-child(8) {
  animation-delay: 0.9s;
}

.movie-container--loading:nth-child(9) {
  animation-delay: 1s;
}
.movie-img {
  border-radius: 2px;
  width: 100%;
}

.movie-btn {
  position: absolute;
  bottom: -6vw;
  width: 10vw;
  height: 10vw;
  border-radius: 100vw;
  margin: 0;
  padding: 0;
  z-index: 5;
  background-color: var(--terciary);
  box-shadow: var(--shadow-out), inset 0 0 5px 2px rgba(0, 0, 0, 0.8);
  border: 2px solid var(--primary);
}

.movie-btn--liked {
  background-color: rgb(50, 50, 50);
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
  border: 3px solid #489dde;
}

.movie-btn::before {
  content: "🤍";
  font-size: 15px;
}

.movie-btn--liked::before {
  content: "💙";
}

.imgNotFound {
  font-size: 2.5vw;
  height: 5vw;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 300;
  margin: 0;
  font-family: var(--font-family-text);
}

h1.notFoundMovieTitle {
  font-size: 5vw;
  margin-top: -5vw;
  text-align: center;
}

.categoriesPreview-list,
.categories-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

/* Header */
.header-container {
  padding-top: 15px;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary);
}

.header-container--long {
  background-image: url("https://pics.filmaffinity.com/Deadpool-777527803-large.jpg");
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.35) 19.27%,
    rgba(0, 0, 0, 0) 29.17%
  );
  background-size: cover !important;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.header-container--categoryView {
  background: linear-gradient(
    180deg,
    rgba(238, 204, 117, 0.5) 0%,
    rgba(238, 204, 117, 0) 72.92%
  );
}

.header-title {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
}

.header-title img {
  width: 40px;
  margin: 0 10px 0 0;
}

.header-title--categoryView {
  margin-left: 2%;
  width: auto;
}

.header-arrow {
  font-weight: var(--font-weight-text2);
  font-size: 36px;
  margin-top: -2px;
  margin-bottom: 0;
  cursor: pointer;
  display: inline-block;
}
.header-arrow--white {
  color: var(--purple-light-1);
}

.header-searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
  box-shadow: var(--shadow-out);
  height: 48px;
}

.header-searchForm input {
  outline: none;
  border: 2px solid var(--secondary);

  height: 48px;
  width: 100%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.header-searchForm button {
  width: 56px;
  height: 48px;
  border: 2px solid var(--secondary);

  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: 1px solid #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-searchForm button img {
  width: 70%;
}

/* Trending */
.trendingPreview-header,
.liked-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trendingPreview-btn {
  border-radius: 2px;
  height: 40px;
  width: 100px;
}

.trendingPreview-movieList,
.liked-movieList {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 70vw;
  padding-left: 24px;
}

.trendingPreview-movieList::-webkit-scrollbar,
.liked-movieList::-webkit-scrollbar {
  height: 7px;
  background-color: var(--primary);

  border-radius: 50vw;
}

.trendingPreview-movieList::-webkit-scrollbar-thumb,
.liked-movieList::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 1);
  border-radius: 50vw;
}

.trendingPreview-movieList .movie-container,
.liked-movieList .movie-container,
.relatedMovies-scrollContainer .movie-container {
  margin-right: 20px;
  height: 58vw;
  min-height: 58vw;
  max-height: 58vw;
  width: 38vw;
  min-width: 38vw;
  max-width: 38vw;
  margin-bottom: 15px;
  background-color: #111111;
  box-shadow: var(--shadow-out);
}

.trendingPreview-movieList .movie-container .movie-img,
.liked-movieList .movie-container .movie-img {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

/* Categories */
.category-container {
  width: 45%;
}

.category-container--loading {
  height: 30px;
  margin-bottom: 28px;
  background-color: #111111;
  animation: loading-skeleton infinite 1.5s;
  will-change: opacity;
}

.category-container--loading:nth-child(3) {
  animation-delay: 0.3s;
}
.category-container--loading:nth-child(4) {
  animation-delay: 0.3s;
}
.category-container--loading:nth-child(5) {
  animation-delay: 0.5s;
}
.category-container--loading:nth-child(6) {
  animation-delay: 0.5s;
}
.category-container--loading:nth-child(7) {
  animation-delay: 0.6s;
}
.category-container--loading:nth-child(8) {
  animation-delay: 0.6s;
}

.category-title {
  margin-bottom: 26px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-title::before {
  content: "••••";
  color: transparent;
  /* TODO: cambiar color por ID de la categoría */
  background-color: var(--idColor);
  border-radius: 8px;
  margin-right: 8px;
  width: 8px;
  height: 8px;
}
#id28 {
  --idColor: var(--yellow);
}
#id12 {
  --idColor: var(--red);
}
#id16 {
  --idColor: var(--green);
}
#id35 {
  --idColor: var(--lightBlue);
}
#id80 {
  --idColor: var(--darkBlue);
}
#id99 {
  --idColor: var(--purple-dark-1);
}
#id18 {
  --idColor: var(--purple-medium-1);
}
#id10751 {
  --idColor: var(--yellow);
}
#id14 {
  --idColor: var(--red);
}
#id36 {
  --idColor: var(--green);
}
#id27 {
  --idColor: var(--lightBlue);
}
#id10402 {
  --idColor: var(--darkBlue);
}
#id9648 {
  --idColor: var(--purple-dark-1);
}
#id10749 {
  --idColor: var(--purple-medium-1);
}
#id878 {
  --idColor: var(--yellow);
}
#id10770 {
  --idColor: var(--red);
}
#id53 {
  --idColor: var(--green);
}
#id10752 {
  --idColor: var(--lightBlue);
}
#id37 {
  --idColor: var(--darkBlue);
}

/* Generic List (search, trending & category) */
.genericList-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px 24px;
}

.genericList-container .movie-container {
  width: 46.5%;
  height: auto;
  margin-bottom: 50px;
  min-height: 63vw;
}

.genericList-container .movie-container--loading {
  width: 46.5%;
  height: 58vw;
  height: 63vw;

  margin-bottom: 5vw;

  background-color: #111111;
}

.genericList-container .movie-img {
  width: 100%;
}

/* Movie Detail */
.movieDetail-container {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 32px 24px 140px;
  margin-top: 403px;
  z-index: 1;
  position: absolute;
  background-color: var(--primary);
  /* background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(15, 15, 15, 1) 50%,

    rgba(34, 34, 34, 1) 60%
  ); */
  box-shadow: var(--shadow-in);
}

.movieDetail-title {
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
}

.movieDetail-score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
}
.movieDetail-score::before {
  content: "★";
  color: var(--yellow);
  padding-right: 4px;
}

.movieDetail-description {
  margin: 0 0 24px 0;
}

.relatedMovies-container {
  margin-top: 24px;
  height: 216px;
}

.relatedMovies-title {
  margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
  height: 70vw;
  position: absolute;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(100vw - 24px);
  padding-bottom: 16px;
}

.relatedMovies-scrollContainer::-webkit-scrollbar {
  height: 7px;
  background-color: var(--dark);
}

.relatedMovies-scrollContainer::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 1);
  border-radius: 50vw;
}

/* Footer */
footer {
  background-color: var(--primary);
  color: var(--purple-light-2);
  font-family: var(--font-family-titles);
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 3;
  border-top: 2px solid #333333;
  box-shadow: 0 0 35px 30px rgba(0, 0, 0, 1);
}

/* Navigation */
.inactive {
  display: none;
}

/* Animations */
@keyframes loading-skeleton {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

@media screen and (min-width: 1099px) {
  :root {
    --shadow-out: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    --shadow-in: inset 0 0 10px 2px rgba(0, 0, 0, 0.5);
  }
  /* Shared */

  button {
    font-size: 18px;
  }

  .movie-container {
    align-items: flex-start;
  }

  .imgNotFound {
    font-size: 0.8vw;
    height: 1vw;
    margin-top: -2vw;
  }

  h1.notFoundMovieTitle {
    width: 80%;
    max-width: 80%;
    font-size: 1.1vw;
    margin-top: -3vw;
    text-align: center;
  }

  .movie-btn {
    position: absolute;
    bottom: -1.25vw;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 100vw;
    margin: 0;
    padding: 0;
    z-index: 5;
  }

  .trendingPreview-container,
  .categoriesPreview-container,
  .liked-container,
  .genericList-container {
    width: 75%;
    margin: 0 auto;
    margin-top: 60px;
    justify-content: flex-start;
  }

  /* Header */
  .header-container {
    padding: 20px 10%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .header-container--long {
    background-size: 26% !important;
    background-repeat: no-repeat !important;
    background-position: 80% top !important;
    width: 100%;
    height: 80%;
    margin-top: 3%;
    position: absolute;
    align-items: flex-start;
  }

  .header-arrow {
    margin-top: -5px;
    margin-bottom: 0;
    margin-left: 1%;
    cursor: pointer;
    z-index: 3;
    will-change: transform;
    transition: 0.3s;
  }

  .header-arrow:hover {
    transform: scale(1.3);
  }

  .header-arrow--white {
    color: var(--purple-light-1);
  }

  .header-arrow--detail {
    margin-left: -9%;
    margin-top: -4%;
  }

  .header-title {
    margin-bottom: 0;
    width: 400px;
  }

  .header-title--categoryView {
    position: absolute;
    margin-top: 0px;
    left: 13%;
  }

  .header-searchForm {
    width: 400px;
  }

  .header-searchForm button {
    transition: 0.3s;
    will-change: background-color;
  }

  /* Trending */

  .trendingPreview-header,
  .liked-header {
    padding: 0;
  }

  .trendingPreview-btn {
    border-radius: 2px;
    height: 45px;
    width: 130px;
    margin-left: 30px;
    transition: 0.3s;
    border: 2px solid var(--secondary);
    will-change: background-color;
    box-shadow: var(--shadow-out);
    background-color: var(--dark);
  }

  .trendingPreview-btn:hover {
    background-color: var(--primary);
  }

  .trendingPreview-movieList,
  .liked-movieList {
    height: 21vw;
    padding: 0;
  }

  .trendingPreview-movieList::-webkit-scrollbar,
  .liked-movieList::-webkit-scrollbar {
    height: 10px;
    background-color: var(--primary);

    border-radius: 50vw;
  }

  .trendingPreview-movieList::-webkit-scrollbar-thumb,
  .liked-movieList::-webkit-scrollbar-thumb {
    transition: 0.3s;
    will-change: background-color;
  }

  .trendingPreview-movieList .movie-container,
  .liked-movieList .movie-container,
  .relatedMovies-scrollContainer .movie-container {
    display: flex;
    margin-right: 20px;
    height: 18vw;
    min-height: 18vw;
    max-height: 18vw;
    width: 11.9vw;
    min-width: 11.9vw;
    max-width: 11.9vw;
    margin-bottom: 15px;
    background-color: #111111;
    box-shadow: var(--shadow-out);
  }

  /* Categories */
  .categoriesPreview-container {
    justify-content: flex-start;
    padding: 0;
  }
  .category-container {
    width: 20vw;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .category-container:hover .category-title {
    background-color: var(--primary);
  }

  .category-title {
    margin-bottom: 0;

    border-radius: 8px;
    width: 280px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px 20px;

    transition: 0.3s;
    will-change: background-color;
  }

  .categories-list.detail-categories .category-container:hover .category-title {
    background-color: var(--dark);
  }

  /* Generic List (search, trending & category) */
  .genericList-container {
    padding: 0;
    justify-content: space-between;
  }

  .genericList-container .movie-container {
    display: flex;
    width: 13vw;
    min-height: 18vw;
    height: auto;
    margin-bottom: 50px;
  }

  .genericList-container .movie-container--loading {
    width: 13vw;
    height: 18vw;

    margin-bottom: 50px;

    background-color: #111111;
  }

  /* Movie Detail */
  .movieDetail-container {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 45%;
    height: 100%;
    padding: 0px 100px 0px;
    margin-top: 0;
    overflow: auto;
    box-shadow: none;
    background-color: var(--primary);
  }

  .movieDetail-container::-webkit-scrollbar {
    width: 10px;
    background-color: #1b262d;

    border-radius: 50vw;
  }

  .movieDetail-container::-webkit-scrollbar-thumb {
    transition: 0.3s;
    background-color: var(--terciary);
    border-radius: 50px;
    will-change: background-color;
  }

  .movieDetail-title {
    width: 100%;
    min-height: 40px;
    margin-top: 100px;
    margin-bottom: 0;
  }

  .movieDetail-score {
    display: inline-block;
    text-align: start;
    width: 20%;
    font-size: 22px;
    min-height: 30px;
    margin-bottom: 16px;
    font-weight: var(--font-weight-title2);
  }

  .movieDetail-score::before {
    font-size: 26px;
    padding-right: 0;
    margin-right: 10px;
  }

  .movieDetail-description {
    margin: 0 0 20px 0;
    min-height: 140px;
  }

  .relatedMovies-container {
    margin-top: 24px;
    height: auto;
  }

  .relatedMovies-title {
    margin-bottom: 50px;
  }

  .relatedMovies-scrollContainer {
    position: relative;
    overflow-x: auto;
    overflow-y: visible;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    padding-bottom: 100px;
  }

  .relatedMovies-scrollContainer .movie-container {
    margin-bottom: 50px;
  }

  .relatedMovies-scrollContainer .movie-container--loading {
    width: 12vw;

    height: 15vw;
    margin-bottom: 50px;
    margin-right: 0;
    background-color: #111111;
  }
}
